*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
}


.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}

.main .content {
    width: 800px;
    margin: 2rem auto;
	
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    margin-left:30px;;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}


.song-list .song:hover {
    background-color:black;
}


.song-length {
  margin-left:50px;;
}
.content {
 position: relative;
}


.current-song-image {

    margin-right: 1rem;
}
      /*DataTables overrides*/
table.dataTable tbody tr td {
    color: black;
}
table.dataTable thead{
    width:30px;
}
table.dataTable thead tr td {
   color: black;

}
table.dataTable tbody tr td{
  margin-left:-20px!important;
}
table.dataTable tbody  {
    background-color: none;
	color:none;
}
#songs_info {
    display: none;
}

#songs_filter {
    color: black;
}
#songs_filter input {
    width: 200px;
    margin-bottom: 3px;;
    font-size: 16px;
	border-radius:50px;
} 
.player-buttons .fa {
    margin-right: 2rem;
}

.fa.disabled {
    color: gray;
}
.img1{
    background-image: url("img1.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}
.img2{
	 background-image: url("img 2.png");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}
.img3{
	 background-image: url("img3.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}
.img4{
	 background-image: url("img4.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}
.img5{
	 background-image: url("img12.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}.img6{
	 background-image: url("img2.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}
.img7{
	 background-image: url("img6.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}
.img8{
	 background-image: url("img9.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}
.img9{
	 background-image: url("imh16.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}
.img10{
	 background-image: url("img10.jpg");
    background-repeat: no-repeat;
	border:0px;
}
.img11{
	 background-image: url("img13.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}
.img12{
	 background-image: url("img11.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
}
.image1{
 background-image: url("img1.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
	height:250px;
}
.image2{
	 background-image: url("img2.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
	height:250px;
}
.image3{
	 background-image: url("img3.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
	height:250px;
}
.image4{
	 background-image: url("img4.jpg");
    background-repeat: no-repeat;
	background-size:cover;
	border:0px;
	height:250px;
}
.differnce
{
	margin:5px;
}

#vol-control
{
	background-color:blue;
	color:black;
}

 #click-button
 {
color:white!important;
 }
.song-length
{
	margin-left:30px!important;
}	