*,
*:after,
*:before {
    box-sizing: border-box;
}
/*the css property for various elements are given below*/
html,

/*css property for the body*/
body {
    height: 100%;
    width: 100%;
    border: 0;
    margin: 0;
    font-size: 16px;
    line-height: -1.5px;
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/J9H9WF0/abstract-holiday-background-with-white-bokeh-lights-flickering-on-purple-pink-blue-gradient-backdrop_h0mmqsxyg_thumbnail-full01.png");
}

.edit:hover
{
    color: white !important;
    background-color: black !important;
}
/*css property for the h1 and h2*/
h1 {
    border: 0;
    margin: 0;
    font-size: 50px;
    color: red
}
h2{
    font-size: 20px;
}

/*css property for the form*/
form{
    font-size: 20px;
}

/*css property for the playlist*/
#playList{
    width: 20%;
    height: 100%;
/*    background-color: grey;*/
    /*border-right: 1px solid grey;*/

}
#border{
    background-color: white;
}


 .wrapper input{
    margin: 3px;
    height: 25px;
  }

  /*css property for the slider in slideshow*/
 .slider  {
  max-width: 500px;
  height: 200px;
  margin: 20px auto;
  position: relative;
}
.slider img{
    width: 500px;
    height: 200px;
}

/*css property for the slider where the images fades in and fades out*/
/*.fadein { position:relative;  }
.fadein img { position:absolute; left:0; top:0; }*/
.animate-fading{animation:fading 2s infinite}
@keyframes fading{0%{opacity:0}25%{opacity:0.5}50%{opacity:1}75%{opacity:0.5}100%{opacity:0}}
#playList h3{
    background-color: red;
    margin:10px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

#songList{
    list-style: none;
    margin-left: 0;
    padding:20px;
    text-align: center;
}

#songList li{
    cursor: pointer;
    margin: 15px;
    padding: 10px;
    background-color: yellow;
    border-radius: 5px;
    color: black;
}

.wrapper {
    height: 100%;
    width: 100%;
   /* background-color: #BBB;*/
}

.welcome-screen {
     background-image: url("http://cliparts.co/cliparts/pc5/rGE/pc5rGEgni.jpg");
   background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("https://i.ytimg.com/vi/Si8Z87uPpkY/maxresdefault.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}

.main header {
    height: 80px;
    background-color: #282828;
    padding: 1rem;
    color: #FFF;
}

.main .content {
    flex:1;
/*    background-color: #1f1f1f;*/
        width: 100%;
    margin: 2rem auto;
}

/*css property for the footer */
.main footer {
    height: 80px;
    background-color: #282828;
    padding-top: 1rem;

}

/*css property for the player buttons*/
.player-buttons {
    display:flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.right.floated {
    float: right;
}

.clickable {
    cursor: pointer;
}

.error {
    border: 2px solid red;
}

/*css property for the volume slider*/
#vol_slider {
    height: 8px;
    width: 100px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 2rem;
    cursor: pointer;
}

#vol_filled {
    height: 8px;
    border-radius: 4px;
    width: 0;
    background-color: #959595;


}

/*css property for the progress bars*/
.progress-wrapper {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-wrapper span {
    color: #959595;
}

.player-progress {
    height: 8px;
    width: 700px;
    background-color: #3d3d3d;
    border-radius: 4px;
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
}

.progress-filled {
    background-color: #959595;
    height: 8px;
    border-radius: 4px;
    width: 0;

}


.main .content {
    width: 800px;
    margin: 2rem auto;
}

.list-headers {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.list-headers > div {
    width: 150px;
    display: inline-block;
}

.list-headers > div:first-child {
    width: 330px;
}

.list-headers > div:last-child {
    text-align: right;
}

.song-list .song {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    min-height: 30px;
    cursor: pointer;
}

.song > span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    height: 1rem;
}
.song > span:first-child {
    width: 330px;
}

.song .song-duration {
    text-align: right;
}

.song-list .song:hover {
    background-color: #282828;
}


.song-length {
    text-align: right;
}
.content {
    position: relative;
}
.current-song-wrapper {
    /*position: absolute;*/
    bottom: 0;
    display: flex;
}

.current-song-image {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.current-song-name {
    font-size: 1.4rem;
    margin-top: 4px;
    margin-bottom: 0;
}

.current-song-album {
    margin-top: 0.4rem;
}

/*//css for data table*/

table.dataTable tbody tr {
    background-color: initial;
}
#songs_info {
    display: none;
}

#songs_filter {
    color: transparent;
}
#songs_filter input {
    width: 400px;
    margin-bottom: 1rem;
    font-size: 16px;
}
.player-buttons .fa {
    margin-right: 2rem;
}

.fa.disabled {
    color: gray;
}

/*

@media(max-width: 699px) and (min-width: 320px){

    .main {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("https://i.ytimg.com/vi/Si8Z87uPpkY/maxresdefault.jpg");
}
}*/
